{% extends "base_generic.html" %}

{% block content %}

	<h2>Sign up</h2>
	<form method="post" class="col-sm-10 ">
		{% csrf_token %}
		{% for field in form %}
		<p>
			<td>{{ field.label_tag }}</td><br>
			<td>{{ field }}</td>
			{% if field.help_text %}
				<small style="color: grey">{{ field.help_text }}</small>
			{% endif %}
			{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
			{% endfor %}
		</p>
		{% endfor %}
		<button type="submit">Sign up</button>
	</form>
{% endblock %}
